<a href="https://colab.research.google.com/github/Khomiakov7706/SKAB/blob/master/exchrates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)

In [ ]:
from pathlib import Path
import pandas_datareader as pdr
import pandas as pd
from tqdm import tqdm

In [ ]:
df = pdr.get_data_moex(['USD000UTSTOM'], '2021-01-01', '2022-04-08')
df = df.loc[df['BOARDID'] == 'CETS', ['CLOSE', 'VOLRUR']]
df

              CLOSE        VOLRUR
TRADEDATE
2021-01-04  74.3300  1.617940e+11
2021-01-05  74.0400  2.012427e+11
2021-01-06  73.9225  1.477447e+11
2021-01-08  74.1550  1.738605e+11
2021-01-11  74.6600  2.942960e+11
...             ...           ...
2022-04-01  83.9500  6.018075e+10
2022-04-04  84.0000  4.363021e+10
2022-04-05  83.3125  4.684125e+10
2022-04-06  79.7000  5.794945e+10
2022-04-07  75.7500  8.848440e+10

[335 rows x 2 columns]